*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html
body{
	background-color: white;
	color: black;
	text-rendering: optimizeLegibility;
	font-size: 16px;
	font-family: 'work sans', arial, sans-serif;
	font-weight: 300px
}

.row{
	max-width: 1140px;
	margin: 0 auto;
}
header{
	background-image:linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)),url(images/header-img.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}
.header-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	text-align: center;
}
h1{
	font-size: 500%;
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;
}
h2{
	font-size: 200%;
	color: #fff;
	font-weight: 400;
}